Library/
ProjectSettings/
Temp/
build/
desktop.ini
*.sln
*.csproj
udg2.userprefs
ProjectSettings/QualitySettings.asset
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
udg2-csharp.v12.suo
MeshMaker/
Assets/MeshMaker.meta
SimpleCities/
Assets/SimpleCities.meta
Constructions/