Library/
ProjectSettings/
External Assets/
Temp/
build/
desktop.ini
udeadgame2.userprefs
*.sln
*.csproj
Assets/Scenes/Modeling_Scene.unity.meta
Assets/Scenes/Modeling_Scene.unity
Assets/AssetStore.meta
Assets/AssetStore/AssetTesting.meta
udg2.userprefs
udg2.userprefs
